footer {
  width: auto;
  height: auto;
  margin-top: 1.875em;
}

.footer__overlay {
  background-color: rgba(52, 152, 219, 0.9);
  width: 100%;
  height: auto;
}

.footer__container {
  display: flex;
}

#Footerlogo {
  width: 8.75em;
  height: auto;
}

.contact__container {
  margin-left: 20px;
  font-family: montserrat;
  color: #212121;
  font-size: 0.889em;
  margin-top: 1.25em;
  flex: 2;
}


.DivforLogo {
  display: inline-block;
}

.contact_us {
  display: inline-block;
  margin-left: 1em;
}

footer h5 {
  font-family: montserrat;
  font-size: 1em;
  font-weight: 600;
}

.logo_contact span {
  font-weight: 500;
}

.Affiliated_By {
  margin-top: 1.25em;
  display: inline-block;
}

.ctevt {
  display: inline-block;
  color: white;
  font-weight: 600;
}

.ctevt figcaption {
  text-align: center;
}

.ctevt h5 {
  margin-bottom: 0.125em;
}

.pokharabg {
  display: inline-block;
  margin-left: 1.875em;
  color: white;
  font-weight: 600;
}

#puLogo {
  margin-left: 2.5em;
}

.copyright_social {
  display: flex;
  margin-top: 1.875em;
}

.copyright_social p {
  flex: 2;
  font-size: 0.778em;
  margin-top: 1.875em;
  margin-left: 1.25em;
  font-weight: 400;
}

.socialMedia_logo {
  flex: 1;
  margin-left: 7.188em;
}

.socialMedia_logo ul {
  text-align: left;
}

.socialMedia_logo li {
  margin-right: 0.625em;
  margin-left: 0;
}

.socialMedia_logo p {
  font-weight: 600;
  font-size: 1em;
  margin-left: 0;
  margin-top: 0;
}

.socialMedia_logo img {
  width: 1.875em;
  height: 1.875em;
}