main {
    width: 100%;
    height: 470px;
    display: block;
}

main .row {
    position: relative;
    z-index: 3;
}

nav {
    float: right;
    padding-top: 40px;
    font-size: 0.889em;
}

.main__link:hover {
    color: #0288d1;
}

.main__forOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 470px;
    position: absolute;
    z-index: 1;
}

video {
    width: 100%;
    height: 470px;
    object-fit: fill;
    position: absolute;
}

.main__title {
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 1.778em;
}

#logo {
    width: 12%;
    height: auto;
    transform: translate(-17px, -22px);
}