.curricular__logo {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.curricular__title {
    position: absolute;
    transform: translate(209%, 160%);
    color: white;
    text-transform: uppercase;
}

#co_logo {
    width: 28%;
    height: auto;
}

.cocurricular-Activities {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
}

.cocurricular-Activities__container {
    flex-basis: 300px;
    height: auto;
    border: 2px solid #3498db;
}

.cocurricular-Activities__imageContainer {
    overflow: hidden;
}

.cocurricular-Activities__image {
    width: 200px;
    height: auto;
    margin-left: 47px;
    margin-top: 20px;
    transition: transform 900ms linear;
}

.cocurricular-Activities__image:hover {
    transform: scale(1.9);
}

.image--height {
    height: 148px;
}

.cocurricular-Activities__title {
    font-weight: 500;
    font-size: 1em;
    margin-left: 20px;
}

.cocurricular-Activities__text {
    font-size: 0.889em;
    margin-left: 20px;
}


.angle_left {
    padding-left: 3px;
}

.angle_right {
    margin-left: 2px;
    padding-right: 3px;
    padding-left: 5px;
}