section {
    margin-top: 30px;
}

.principle-updates__container {
    display: grid;
    grid-template-columns: 5fr 3fr
}

.principle__container {
    /* width: 65%; */
    height: 350px;
    background-color: red;
    border-radius: 2px;
}

.updates__container {
    /* width: 30%; */
    /* height: 350px; */
    background-color: #bdc3c7;
    margin-left: 1em;
    border-radius: 4px;
}

.updates__title {
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
}

.updates__list-items {
    font-size: 0.778em;
    line-height: 28px;
    width: 100%;
    margin: 10px 0 0 0;
    display: list-item;
}

.newsReading {
    height: 28px;
    width: 28px;
    margin-right: 6px;
    vertical-align: middle;
}

.doubleAngle {
    width: 16px;
    height: 27px;
    margin-left: 1.875em;
    margin-top: 1.25em;
    vertical-align: bottom;
    margin-right: 13px;
}