<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Department</title>
    <link href="../Temp/Department.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <header>

        <div class="header__container">

            <div class="row">
                <p class="header__text">Admissions are open now for diploma </p>
                <div class="header__buttonContainer">
                    <a href="#" class="btn btn--lightBlue">Fill Form</a>
                    <a href="#" class="btn btn--blue">Learn More</a>
                </div>
            </div>

        </div>

        <div class="header-second__container">
            <div class="row">
                <img src="../assets/Images/SecondLogo.png" alt="LEC" id="header_logo" />
                <p class="header-second__text">
                    <span class="header-second__inlineText">“</span>Education for
                    excellence<span class="header-second__inlineText">”</span>
                </p>
            </div>

        </div>

        <nav>
            <div class="row">
                <div class="forMenu"></div>
                <ul class="header-nav__item">
                    <li class="header-nav__items"><a class="header-nav__link" href="../index.html">Home</a></li>
                    <li class="header-nav__items"><a class="header-nav__link" href="./AboutLec.html">About lec</a></li>
                    <li class="header-nav__items"><a class="header-nav__link" href="./Department.html">department</a>
                    </li>
                    <li class="header-nav__items"><a class="header-nav__link" href="#">Academic achievement</a></li>
                    <li class="header-nav__items"><a class="header-nav__link" href="./onlineServices.html">online
                            services</a>
                    </li>
                    <li class="header-nav__items"><a class="header-nav__link" href="./contact_us.html">Contact us</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <!-- Modal -->
    <div class="modal">
        <img src="../assets/Images/back-arrow.svg" alt="goBack" class="goBack">
        <div class="model__profile-container">
            <img src="../assets/Images/Second_coCurricular.jpg" class="model__user-pic">
        </div>
        <div class="modal__user-container">
            <p class="modal__name">Name:</p>
            <p class="modal__description">Description here</p>
            <p class="modal__text">Position: <span class="modal__position"></span></p>
            <div class="modelsocialMedia_container">
                <a href="#" class="fb"><img src="../assets/Images/facebook.svg" alt="Facebook"
                        class="modal__social-icon"></a>
                <a href="#" class="tw"><img src="../assets/Images/twitter.svg" alt="Twitter"
                        class="modal__social-icon"></a>
                <a href="#" class="ln"><img src="../assets/Images/linkedin.svg" alt="Linkedin"
                        class="modal__social-icon"></a>
            </div>
        </div>
    </div>

    <!-- Department Section -->
    <div class="section_overlay">

        <section>
            <div class="department__row">
                <h5 class="department__title">computer department</h5>

                <div class="department">

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="0">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="1">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="2">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="3">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="4">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="5">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="6">View Profile</a>
                    </div>
                </div>
            </div>
        </section>

        <section>

            <div class="department__row">
                <h5 class="department__title">civil Department</h5>

                <div class="department">

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="7">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="8">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="9">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="10">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="11">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="12">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="13">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="14">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="15">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="16">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="17">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="18">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="19">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="20">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="21">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="22">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="23">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="24">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="25">View Profile</a>
                    </div>
                </div>
        </section>

        <section>
            <div class="department__row">
                <h5 class="department__title"> Electronics Department</h5>

                <div class="department">

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="26">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="27">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="28">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="29">View Profile</a>
                    </div>

                </div>

        </section>

        <section>
            <div class="row">
                <h5 class="department__title"> Electrical Department</h5>

                <div class="department">

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="30">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="31">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="32">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="33">View Profile</a>
                    </div>
                </div>
        </section>

        <section>
            <div class="row">
                <h5 class="department__title"> Management & Humanities </h5>

                <div class="department">

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="34">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="35">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="36">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="37">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="38">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="39">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="40">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="41">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="42">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="43">View Profile</a>
                    </div>
        </section>

        <section>
            <div class="department__row">

                <h5 class="department__title"> Administrative Department </h5>

                <div class="department">

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="44">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="45">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="46">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="47">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="48">View Profile</a>
                    </div>
                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="49">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="50">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="51">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="52">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="53">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="54">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="55">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="56">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="57">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="58">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="59">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="60">View Profile</a>
                    </div>

                    <div class="department__container">
                        <div class="department__image"></div>
                        <p>Name</p>
                        <p class="department__position">
                            <span class="department__position-title">Position:</span>
                            Head of Department(HOD)</p>
                        <a href="#" class="btn--small btn--view-profile" id="61">View Profile</a>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer__overlay">
                <div class="row">

                    <div class="footer__container">

                        <div>
                            <img src="../assets/Images/VideoLogo.png" alt="LEC" id="Footerlogo" />
                        </div>

                        <div class="contact__container">
                            <h5 class="contact__title">Contact Us:</h5>
                            <p><span class="contact__text">Lumbini Engineering College</span>
                                <br>Bhalwari , Rupandehi , Nepal<br>
                                Tel: 074-54564080,54562200<br>Lumbini011@Outlook.com</p>
                        </div>

                        <div class="affiliated__container">
                            <h5 class="affiliated__title">Affiliated By:</h5>
                            <div class="ctevt__container">
                                <img src="../assets/Images/ctevtlogo.gif" id="ctevtLogo">
                                <figcaption class="ctevt__caption">CTEVT</figcaption>
                            </div>
                            <div class="pokhara__container">
                                <img src="../assets/Images/PULogo1.png" id="puLogo">
                                <figcaption>POKHARA UNIVERSITY </figcaption>
                            </div>
                        </div>

                    </div>

                    <div class="footer__container">

                        <div class="copyright__container">
                            <p class="copyright__text">&copy;Copyright Reserved to Lumbini Engineering College</p>
                        </div>

                        <div class="socialmedia__container">
                            <p class="socialmedia__title">Connect with Us:</p>
                            <ul>
                                <li><a href="#"><img src="../assets/Images/facebook.svg" alt="facebook"
                                            class="socialIcon"></a>
                                </li>
                                <li><a href="#"><img src="../assets/Images/twitter.svg" alt="twitter"
                                            class="socialIcon"></a>
                                </li>
                                <li><a href="#"><img src="../assets/Images/google-plus.svg" alt="Google Plus"
                                            class="socialIcon"></a></li>
                            </ul>
                        </div>
                    </div>

                    <p class="footer__text">
                        Powered By:
                        <a href="#" class="footer__link">Jumbo Gang</a>
                    </p>
                </div>
            </div>
        </footer>

        <script src="../assets/JS/Department.js"></script>
        <script src="../assets/JS/common.js"></script>
</body>

</html>