<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Department</title>
    <link href="../Temp/Department.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="top_part">
            <div class="row">
                <div class="header-text_left">
                    <p>
                        Admissions are open now for diploma<br />
                        <a href="#" class="forfillForm">Fill Form / Learn More</a>
                    </p>
                </div>
                <div class="header-btn_right">
                    <a href="#" class="top_btn" id="btn-1">Learn More</a>
                    <a href="#" class="top_btn" id="btn-2">Fill Form</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="second_part">
                <img src="../assets/Images/SecondLogo.png" alt="LEC" id="one_logo" />
                <p>
                    <span style="font-family:Georgia">“</span>Education for
                    excellence<span style="font-family:Georgia">”</span>
                </p>
            </div>
        </div>

        <nav>
            <div class="row">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./AboutLec.html">About lec</a></li>
                    <li><a href="./Department.html">department</a></li>
                    <li><a href="#">Academic achievement</a></li>
                    <li><a href="./onlineServices.html">online services</a></li>
                    <li><a href="./contact_us.html">Contact us</a></li>
                </ul>
            </div>
            <img src="../assets/Images/menu.svg" class="menu" alt="menu" />
        </nav>
    </header>

    <!--Modal-->
    <div class="modal_container">
        <div class="main_container">
            <img src="../assets/Images/back-arrow.svg" alt="goBack" class="goBack">
            <div class="model_pic">
                <img src="../assets/Images/Second_coCurricular.jpg" class="modelProfile_pic">
            </div>
            <div class="modal_text">
                <p class="modal_name">Name:</p>
                <p class="modal_description">Description here</p>
                <p style="color:red;font-weight: 600;">Position: <span class="modal_position"></span></p>
                <div class="modelsocialMedia_container">
                    <a href="#" class="fb"><img src="../assets/Images/facebook.svg" alt="Facebook"></a>
                    <a href="#" class="tw"><img src="../assets/Images/twitter.svg" alt="Twitter"></a>
                    <a href="#" class="ln"><img src="../assets/Images/linkedin.svg" alt="Linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL IS FINISHED HERE-->

    <div class="forsection_overlay">

        <section class="comp_department">
            <div class="row">

                <h5>computer department</h5>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="0">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="1">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="2">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="3">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="4">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="5">View Profile</a>
                    </div>
                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="6">View Profile</a>
                    </div>
                </div>

        </section>

        <section class="civil_department">

            <div class="row">
                <h5>civil Department</h5>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="7">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="8">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="9">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="10">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="11">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="12">View Profile</a>
                    </div>
                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="13">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="14">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="15">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="16">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="17">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="18">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="19">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="20">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="21">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="22">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="23">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="24">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="25">View Profile</a>
                    </div>

                </div>
            </div>

        </section>

        <section class="electronics_department">

            <div class="row">
                <h5> Electronics Department</h5>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="26">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="27">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="28">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="29">View Profile</a>
                    </div>
                </div>
            </div>

        </section>

        <section class="electrical_department">
            <div class="row">
                <h5> Electrical Department</h5>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="30">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="31">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="32">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="33">View Profile</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="managment_department">
            <div class="row">
                <h5> Management & Humanities </h5>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="34">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="35">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="36">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="37">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="38">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="39">View Profile</a>
                    </div>
                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="40">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="41">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="42">View Profile</a>
                    </div>
                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="43">View Profile</a>
                    </div>
                </div>
        </section>

        <section class="administrate_department">
            <div class="row">
                <h5> Administrative Department </h5>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="44">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="45">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="46">View Profile</a>
                    </div>

                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="47">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="48">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="49">View Profile</a>
                    </div>
                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="50">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="51">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="52">View Profile</a>
                    </div>
                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="53">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="54">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="55">View Profile</a>
                    </div>
                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="56">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="57">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="58">View Profile</a>
                    </div>
                </div>

                <div class="container">

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="59">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="60">View Profile</a>
                    </div>

                    <div class="for_shadow">
                        <div class="forImg"></div>
                        <p>Name</p>
                        <p style="text-align:center;margin-bottom: 10px;"><span>Position:</span>Head of Department(HOD)
                        </p>
                        <a href="#" class="view_profile" id="61">View Profile</a>
                    </div>
                </div>

            </div>
        </section>

    </div>

    <footer>
        <div class="forOverlay">
            <div class="row">

                <div class="footer_info">
                    <div class="DivforLogo">
                        <img src="../assets/Images/VideoLogo.png" alt="LEC" id="Footerlogo" />
                    </div>
                    <div class="contact_Us">
                        <h5>Contact Us:</h5>
                        <p><span style="text-transform:uppercase">Lumbini Engineering College</span>
                            <br>Bhalwari , Rupandehi , Nepal<br>
                            Tel: 074-54564080,54562200<br>Lumbini011@Outlook.com</p>
                    </div>
                    <div class="Affiliated_By">
                        <h5>Affiliated By:</h5>
                        <div class="ctevt">
                            <img src="../assets/Images/ctevtlogo.gif" id="ctevtLogo">
                            <figcaption>CTEVT</figcaption>
                        </div>
                        <div class="pokharabg">
                            <img src="../assets/Images/PULogo1.png" id="puLogo">
                            <figcaption>POKHARA UNIVERSITY </figcaption>
                        </div>
                    </div>
                </div>

                <div class="copyright_social">

                    <p>&copy;Copyright Reserved to Lumbini Engineering College</p>

                    <div class="socialMedia_logo">
                        <p>Connect with Us:</p>
                        <ul>
                            <li><a href="#"><img src="../assets/Images/facebook.svg" alt="facebook" id="fb"></a></li>
                            <li>
                                <a href="#"><img src="../assets/Images/twitter.svg" alt="twitter" id="Twitter"></a>
                            </li>
                            <li>
                                <a href="#"><img src="../assets/Images/google-plus.svg" alt="Google Plus"
                                        id="google_plus" /></a></li>
                        </ul>
                    </div>
                </div>

                <p style="text-align:center;font-size:0.888em;margin-top:20px">
                    Powered By:<a href="#" style="color: white;font-weight: 600;text-decoration: none;">Jumbo Gang</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="../assets/JS/common.js"></script>
    <script src="../assets/JS/Department.js"></script>
</body>

</html>