<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Online Services</title>
    <link href="../Temp/onlineServices.css" rel="stylesheet" />
</head>

<body>

    <header>

        <div class="header__container">

            <div class="row">
                <p class="header__text">Admissions are open now for diploma </p>
                <div class="header__buttonContainer">
                    <a href="#" class="btn btn--blue">Learn More</a>
                    <a href="#" class="btn btn--lightBlue">Fill Form</a>
                </div>
            </div>

        </div>

        <div class="header-second__container">
            <div class="row">
                <img src="../assets/Images/SecondLogo.png" alt="LEC" id="header_logo" />
                <p class="header-second__text">
                    <span class="header-second__inlineText">“</span>Education for
                    excellence<span class="header-second__inlineText">”</span>
                </p>
            </div>

        </div>

        <nav>
            <div class="row">
                <ul class="header-nav__items">
                    <li><a class="header-nav__link" href="../index.html">Home</a></li>
                    <li><a class="header-nav__link" href="./AboutLec.html">About lec</a></li>
                    <li><a class="header-nav__link" href="./Department.html">department</a></li>
                    <li><a class="header-nav__link" href="#">Academic achievement</a></li>
                    <li><a class="header-nav__link" href="./onlineServices.html">online services</a></li>
                    <li><a class="header-nav__link" href="./contact_us.html">Contact us</a></li>
                </ul>
            </div>
            <img src="../assets/Images/menu.svg" class="menu" alt="menu" />
        </nav>

    </header>

    <section>
        <div class="row">

            <div class="toggle">
                <span class="toggle__container toggle--active" id="diploma">Diploma</span>
                <span class="toggle__container" id="bachelor">Bachelor</span>
                <span class="toggle__container" id="master"> Master</span>

                <div class="tooltip">
                    <img src="../assets/Images/info.svg" id="tooltip__icon" alt="Choose your Level">
                    <span class="tooltip__text">Please choose your level</span>
                </div>

            </div>

            <div class="feature">

                <div class="feature__container">
                    <img src="../assets/Images/wallet.svg" alt="payment" class="feature__icon">
                    <div class="feature__text">
                        <h4 class="feature__title">Payment</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco.
                        </p>
                    </div>
                    <input type="button" class="btn btn--large" value="Pay now">
                </div>

                <div class="feature__container">
                    <img src="../assets/Images/checklist.svg" alt="Form" class="feature__icon">
                    <div class="feature__text">
                        <h4 class="feature__title">Fill Form</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco.
                        </p>
                    </div>
                    <input type="button" class="btn btn--large" value="Fill Form">
                </div>

                <div class="feature__container">
                    <img src="../assets/Images/test.svg" alt="Result" class="feature__icon">
                    <div class="feature__text">
                        <h4 class="feature__title">Check the results</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco.
                        </p>
                    </div>
                    <input type="button" class="btn btn--large" value="Results">
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="footer__overlay">
            <div class="row">

                <div class="footer__container">

                    <div>
                        <img src="../assets/Images/VideoLogo.png" alt="LEC" id="Footerlogo" />
                    </div>

                    <div class="contact__container">
                        <h5 class="contact__title">Contact Us:</h5>
                        <p><span class="contact__text">Lumbini Engineering College</span>
                            <br>Bhalwari , Rupandehi , Nepal<br>
                            Tel: 074-54564080,54562200<br>Lumbini011@Outlook.com</p>
                    </div>

                    <div class="affiliated__container">
                        <h5 class="affiliated__title">Affiliated By:</h5>
                        <div class="ctevt__container">
                            <img src="../assets/Images/ctevtlogo.gif" id="ctevtLogo">
                            <figcaption class="ctevt__caption">CTEVT</figcaption>
                        </div>
                        <div class="pokhara__container">
                            <img src="../assets/Images/PULogo1.png" id="puLogo">
                            <figcaption>POKHARA UNIVERSITY </figcaption>
                        </div>
                    </div>

                </div>

                <div class="footer__container">

                    <div class="copyright__container">
                        <p class="copyright__text">&copy;Copyright Reserved to Lumbini Engineering College</p>
                    </div>

                    <div class="socialmedia__container">
                        <p class="socialmedia__title">Connect with Us:</p>
                        <ul>
                            <li><a href="#"><img src="../assets/Images/facebook.svg" alt="facebook"
                                        class="socialIcon"></a>
                            </li>
                            <li><a href="#"><img src="../assets/Images/twitter.svg" alt="twitter"
                                        class="socialIcon"></a>
                            </li>
                            <li><a href="#"><img src="../assets/Images/google-plus.svg" alt="Google Plus"
                                        class="socialIcon"></a></li>
                        </ul>
                    </div>
                </div>

                <p class="footer__text">
                    Powered By:
                    <a href="#" class="footer__link">Jumbo Gang</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="../assets/JS/onlineServices.js"></script>
</body>

</html>