@media only screen and (max-width: 1130px) {
  .course__grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .course__container::before {
    padding-bottom: 5px;
  }

  .container--master::before {
    height: 29%;
  }
}

@media only screen and (max-width: 714px) {
  .course__grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .course__container::before {
    padding-bottom: 0;
  }

  .course__container {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
  }

  .container--diploma::before {
    left: 25%;
    height: 19%
  }

}

@media only screen and (max-width: 635px) {
  .principle-updates__container {
    display: block;
  }

  .updates__container {
    width: 60%;
    display: block;
    margin: 20px auto;
  }

  .course {
    margin-top: 25px;
  }
}

@media only screen and (max-width:580px) {
  .course__container::before {
    width: 55%;
  }

  .container--diploma::before {
    left: 23%;
  }

  .container--bachelor::before {
    width: 60%;
    left: 20%;
  }
}