@media only screen and (max-width: 320px) {
  html {
    font-size: 0.875em;
  }
  .row {
    width: 320px;
  }
  header p {
    font-size: 1em;
    text-transform: capitalize;
    margin-left: 20px;
  }
  #logo {
    width: 81px;
  }
  .menu {
    width: 30px;
  }
  #material {
    width: 84%;
    top: 307px;
    left: 30px;
  }
  figure p {
    left: 120px;
    top: 360px;
  }
  #right_arrow {
    left: 279px;
  }
  .forDiploma {
    top: 458px;
    left: 40px;
  }
  .forCoCurricularLogo {
    transform: translate(2%, 8%);
  }
  .forCoCurricularLogo p {
    transform: translate(29%, 111%);
  }
  .first_activity {
    margin-left: 0;
    margin-right: 0;
  }
  .copy_right p {
    margin-left: 0;
  }
}
