@media only screen and (max-width: 425px) {
  /************** COMMON CODE *******************/
  html {
    font-size: 1em;
  }

  .row {
    width: 425px;
  }

  /************** HEADER *******************/

  .btn {
    display: none;
  }

  .forfillForm {
    display: block;
    text-align: center;
    line-height: 14px;
    text-decoration: underline;
    font-weight: 600;
  }

  /************** MAIN *******************/

  #logo {
    width: 100px;
    margin-top: 10px;
  }

  /************** SECTION OF MESSAGE AND UPDATES *******************/

  .Princ_message {
    width: 100%;
    margin-left: 0;
  }

  .updates {
    width: 95%;
    display: block;
  }

  /************** FIGURE(COURSE WE OFFER) *******************/
  #board {
    height: 278px;
  }

  #right_arrow {
    left: 368px;
    bottom: 124px;
  }

  #left_arrow {
    display: none;
    left: 14px;
    bottom: 120px;
  }

  figure {
    margin-top: 40px;
  }

  figure p {
    left: 168px;
    top: 363px;
  }

  #material {
    width: 60%;
    top: 313px;
    left: 101px;
  }

  .forDiploma {
    top: 459px;
    left: 98px;
  }

  .forBachelor {
    left: 475px;
    top: 440px;
    width: 299px;
    height: 195px;
    visibility: hidden;
  }

  .forMaster {
    top: 478px;
    left: 475px;
    visibility: hidden;
  }

  /************** CO_CURRICULAR *******************/

  #co_logo {
    width: 75%;
  }

  .forCoCurricularLogo p {
    transform: translate(41%, 129%);
  }

  .first_activity {
    width: 100%;
  }

  .second_activity {
    display: none;
  }

  .forco_Icon {
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    display: block;
  }

  /************** FOOTER *******************/
  footer {
    margin-top: 20px;
  }

  .footer_info {
    display: grid;
    text-align: center;
  }

  .DivforLogo {
    display: none;
  }

  .contact_Us {
    order: 2;
  }

  .Affiliated_By {
    order: 1;
    margin-left: 50px;
  }

  .ctevt,
  .pokharabg {
    margin-top: 20px;
  }

  .copyright_social {
    display: grid;
  }

  .copy_right {
    order: 2;
  }

  .socialMedia_logo {
    order: 1;
    text-align: left;
    margin-left: 0;
    text-align: center;
  }

  .socialMedia_logo ul {
    margin-top: 10px;
  }

  .socialMedia_logo li {
    margin-right: 15px;
  }

  .socialMedia_logo img {
    height: 40px;
    width: 40px;
  }

  .copy_right p {
    text-align: center;
    margin-top: 15px;
  }
}
