@media only screen and (max-width: 768px) {
  /************** COMMON CODE *******************/
  html {
    font-size: 1em;
  }

  .row {
    width: 768px;
    margin: 0 auto;
  }

  /************** HEADER*******************/
  .btn {
    width: 122px;
  }
  .menu {
    display: block;
  }

  /************** MAIN *******************/
  .headerNav {
    float: right;
    background-color: #4c4c4c;
    margin: 25px 2px 0 0;
    padding: 0;
    text-align: center;
    display: none;
  }

  .headerNav li {
    display: block;
    border-bottom: 1px solid white;
    margin: 0;
  }

  .headerNav a {
    color: #212121;
  }

  /************** SECTION OF MESSAGE & UPDATES *******************/
  .Princ_message {
    width: 60%;
  }

  .updates {
    width: 35%;
    margin-left: 5px;
  }

  /************** FIGURE(COURSES) *******************/
  figure {
    margin-top: 32px;
  }

  #material {
    top: -6px;
    left: 259px;
  }

  #board {
    height: 380px;
  }

  #right_arrow {
    display: block;
    left: 706px;
    bottom: 167px;
  }

  #left_arrow {
    left: 20px;
    bottom: 176px;
  }

  .forBachelor {
    top: 138px;
    left: 346px;
    width: 330px;
  }

  .forDiploma {
    top: 138px;
  }

  .forMaster {
    top: 138px;
  }

  figure p {
    left: 348px;
    top: 52px;
  }

  /************** CO_CURRICULAR *******************/
  .forCoCurricularLogo p {
    transform: translate(116%, 148%);
  }

  #co_logo {
    width: 43%;
  }

  .imagecoCurricular_container {
    width: 350px;
  }

  .co_activities {
    position: relative;
  }

  .first_activity {
    flex-basis: 350px;
    margin-left: 10px;
    left: 250px;
  }

  .third_activity {
    display: none;
  }

  .same {
    margin-right: 12px;
  }

  .same img {
    width: 250px;
    margin: 20px auto;
    display: block;
  }

  .same p {
    text-align: center;
  }

  .same h5 {
    text-align: center;
  }
  .forco_Icon {
    display: block;
    text-align: center;
    /* margin-right: 30px; */
  }

  /************** FOOTER *******************/
  #Footerlogo {
    width: 120px;
  }

  .contact_Us {
    margin-left: 5px;
  }

  .Affiliated_By {
    margin-right: 10px;
  }
}
