@media only screen and (max-width: 375px) {
  .row {
    width: 375px;
  }

  /************** HEADER *******************/
  .second_part p {
    font-size: 1.3em;
  }
  .toggle_Container {
    transform: translate(10px, 26px);
  }
  .forToggling {
    width: 110px;
  }
  #forBachelor {
    left: 110px;
  }
  #forMaster {
    left: 220px;
  }
  .tooltip {
    left: 339px;
  }
  .tooltiptext {
    width: 210px;
    padding: 0;
    top: -2px;
    right: 151%;
  }
  .tooltiptext::after {
    top: 31%;
    right: -4%;
    margin-top: 0;
    border-color: transparent transparent transparent black;
  }
  .Affiliated_By {
    margin-left: 0;
  }
  #puLogo {
    margin-left: 0;
  }
  .pokharabg {
    display: block;
    margin-left: 0;
  }
  .contact_Us {
    margin-left: 0;
  }
}
