@media only screen and (max-width: 375px) {
  .row {
    width: 360px;
  }

  /************** HEADER *******************/
  header p {
    margin-left: 0px;
  }
  #one_logo {
    width: 130px;
  }
  .second_part p {
    font-size: 1.4em;
  }
  .btn_one {
    top: 40px;
    left: 4px;
  }
  .btn_two {
    top: 40px;
    left: 331px;
  }
  /************** SECTION *******************/
  .forsection_overlay .row {
    width: 375px;
  }
  .main_container {
    width: 369px;
    transform: translate(3px, 100px);
  }
  /************** FOOTER *******************/
  .Affiliated_By {
    margin-left: 0;
  }
  .copyright_social p {
    margin-left: 10px;
  }
}
