@media only screen and (max-width: 320px) {
  html {
    font-size: 1em;
  }

  .row {
    width: 320px;
  }

  /************* HEADER ******************/
  header p {
    margin-left: 4px;
    text-transform: capitalize;
    padding-top: 0;
  }

  #one_logo {
    width: 150px;
  }
  .second_part p {
    display: none;
  }
  .forbox_shadow {
    padding: 0;
  }
  .center_bold {
    margin-bottom: 20px;
  }
  .forIconbtn {
    width: 26px;
    height: 38px;
  }
  .btn {
    font-size: 0.625em;
  }
  #btnOne {
    bottom: 58px;
    left: 0;
  }
  .btn_one {
    top: 42px;
    left: 4px;
  }
  #btnTwo {
    bottom: 58px;
  }
  .btn_two {
    top: 43px;
    left: 301px;
  }

  /************* SECTION ******************/
  .forsection_overlay .row {
    width: 320px;
  }
  .main_container {
    width: 313px;
  }
  .modelProfile_pic {
    width: 150px;
  }

  /************* FOOTER ******************/
  .Affiliated_By {
    margin-left: 0;
  }
  .pokharabg {
    display: block;
    margin-left: 0;
  }
  #puLogo {
    margin-left: 0;
  }
}
