@media only screen and (max-width: 425px) {
  html {
    font-size: 1em;
  }

  .row {
    width: 400px;
  }

  /************** HEADER *******************/
  header p {
    margin-left: 10px;
    padding-top: 5px;
  }

  .forfillForm {
    display: block;
    text-align: center;
    line-height: 14px;
    text-decoration: underline;
    font-weight: 600;
    padding: 0;
  }

  .top_part {
    padding-bottom: 0;
  }

  .top_btn {
    display: none;
  }

  #one_logo {
    width: 140px;
  }

  .second_part p {
    margin-top: 4px;
    font-size: 1.5em;
  }

  #Lec_pic {
    width: 100%;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .for_circle {
    bottom: 23px;
    left: 126px;
  }

  .forIconbtn {
    width: 30px;
    height: 51px;
  }

  .btn {
    font-size: 0.725em;
  }

  #btnOne {
    bottom: 64px;
    left: 0;
  }

  .btn_one {
    top: 55px;
    left: 5px;
  }

  .btn_two {
    top: 53px;
    left: 382px;
  }

  #btnTwo {
    bottom: 64px;
    right: 0;
  }

  /************** SECTION ******************/
  .forsection_overlay .row {
    width: 420px;
  }
  .container {
    display: block;
  }
  .for_shadow p {
    text-align: center;
  }
  .main_container {
    width: 394px;
    transform: translate(11px, 82px);
  }
  .modal_description {
    font-size: 0.775em;
  }

  /************** FOOTER *******************/
  footer {
    margin-top: 20px;
  }
  footer h5 {
    text-align: center;
  }
  .footer_info {
    display: grid;
    text-align: center;
  }

  .DivforLogo {
    display: none;
  }

  .contact_Us {
    order: 2;
  }

  .Affiliated_By {
    order: 1;
    margin-left: 50px;
  }

  .ctevt,
  .pokharabg {
    margin-top: 20px;
  }

  .copyright_social {
    display: grid;
  }

  .copyright_social p {
    margin-top: 0;
  }

  .copy_right {
    order: 2;
  }

  .socialMedia_logo {
    order: 1;
    text-align: left;
    margin-left: 0;
    text-align: center;
  }

  .socialMedia_logo ul {
    margin-top: 10px;
    text-align: center;
  }

  .socialMedia_logo li {
    margin-right: 15px;
  }

  .socialMedia_logo img {
    height: 40px;
    width: 40px;
  }

  .copy_right p {
    text-align: center;
    margin-top: 15px;
  }
}
