@media only screen and (max-width: 1186px) {
    .row {
        width: 90%;
        /* background: green; */
    }

    .department {
        /* margin-left: 0;
        display: inline-block; */
    }

    .department__container {
        width: 100%;
    }
}