* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 2.25em;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  width: 84%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.clearfix::before {
  clear: both;
}

.clearfix::after {
  clear: both;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 28px;
  text-transform: capitalize;
}

/********** HEADER ***************/

nav {
    background-color: #3498db;
    width: 100%;
    height: auto;
}

.header__container {
    width: 100%;
    height: auto;
    background-color: #757575;
    padding-bottom: 10px;
}

.header__text {
    text-transform: uppercase;
    padding-top: 10px;
    color: white;
    display: inline-block;
}

.header__buttonContainer {
    float: right;
    font-size: 0.889em;
    text-transform: uppercase;
    font-weight: 600;
}

#header_logo {
    width: 12.5em;
}

.btn {
    width: 9em;
    height: 2.5em;
    text-align: center;
    padding-top: 0.1em;
    margin-top: 0.438em;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn--blue {
    margin-top: 0.5em;
    background-color: #0288d1;
    color: white;
}

.btn--lightBlue {
    margin-right: 0.938em;
    margin-top: 0.5em;
    background-color: #b3e5fc;
    color: #212121;
}

.header-second__container {
    margin-top: 0.625em;
}

.header-second__text {
    color: #3498db;
    text-transform: capitalize;
    float: right;
    margin-top: 0.625em;
    font-family: Dancing Script;
    font-size: 2.353em;
}

.header-second__inlineText {
    font-family: Georgia;
}

.header-nav__link {
    text-decoration: none;
}

.header-nav__item {
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    padding-top: 3px;
}

.header-nav__items {
    display: inline-block;
    margin-left: 4.25em;
    margin-right: 0;
}

.forMenu {
    display: none;
}

.nav--close {
    display: none;
}

/********** SECTION ***************/

.contact-us {
  margin-top: 50px;
  display: inline-block;
}

.contact-us__title {
  color: #212121;
  font-weight: 600;
}

.contact-us__text {
  color: #212121;
}

.contact-us__subtitle {
  text-transform: uppercase;
  font-weight: 550;
}

.contact-us__icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 10px;
}

.map {
  float: right;
  margin-top: 30px;
}

/********* FOOTER ***************/

footer {
    width: 100%;
    height: auto;
    margin-top: 7.5em;
}

.footer__overlay {
    background-color: rgba(52, 152, 219, 0.9);
    width: 100%;
    height: auto;
}

.footer__container {
    display: flex;
    padding-top: 0.625em;
}

.footer__affiliated-container {
    flex: 2;
}

#Footerlogo {
    width: 8.75em;
    height: auto;
}

.footer__ctevt-container,
.footer__pokhara-container {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: white;
}

.footer__ctevt-container {
    margin-right: 5em;
}

.footer__copyright-container {
    margin-top: 7em;
}

.footer__affiliated-container__subtitle {
    font-family: montserrat;
    font-size: 1em;
    font-weight: 600;
}

.footer__text {
    text-align: center;
    margin-top: 1.875em;
}

/* 
.contact__container {
    margin-left: 1.25em;
    font-family: montserrat;
    color: #212121;
    font-size: 0.889em;
    margin-top: 1.25em;
    flex: 2;
}

.contact__title,
.affiliated__title {
    font-family: montserrat;
    font-size: 1em;
    font-weight: 600;
}

.contact__text {
    font-weight: 500;
    text-transform: uppercase
}

.affiliated__container {
    margin-top: 1.25em;
}

.ctevt__container {
    display: inline-block;
    color: white;
    font-weight: 600;
}

.ctevt__caption {
    text-align: center;
}

.pokhara__container {
    display: inline-block;
    margin-left: 1.875em;
    color: white;
    font-weight: 600;
}

#puLogo {
    margin-left: 2.5em;
}

.copyright__container {
    flex: 2;
}

.copyright__text {
    flex: 2;
    font-size: 0.920em;
    margin-top: 1.875em;
    margin-left: 1.25em;
    font-weight: 400;
}

.socialmedia__container {
    flex: 1;
    margin-left: 18%;
}

.socialmedia__title {
    font-weight: 600;
    font-size: 1em;
}


.socialIcon {
    width: 30px;
    height: 30px;
}

.footer__text {
    text-align: center;
    font-size: 0.888em;
    margin-top: 20px
}

.footer__link {
    color: white;
    font-weight: 600;
    text-decoration: none;
} */

/********** Responsive ***************/

@media only screen and (max-width: 1285px) {
  .header-nav__items {
    margin-left: 3.25em;
  }
}

@media only screen and (max-width: 1172px) {
  .header-nav__items {
    margin-left: 2.6em;
  }
}

@media only screen and (max-width: 1158px) {
  .header-nav__items {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 1029px) {
  .row {
    width: 90%;
  }

  .header-nav__items {
    margin-left: 1em;
    text-align: left;
  }
}

@media only screen and (max-width:855px) {
  .header-nav__items {
    margin-left: .8em;
  }
}

@media only screen and (max-width:833px) {
  .nav-row {
    width: 100%;
  }

  .forMenu {
    display: block;
    width: 40px;
    height: 41px;
    background: url(../assets/Images/menu.png) no-repeat 60% center;
    cursor: pointer;
  }

  .header-nav__item {
    background: #3498db;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-287px, 0px);
            transform: translate(-287px, 0px);
    transition: -webkit-transform 150ms linear;
    transition: transform 150ms linear;
    transition: transform 150ms linear, -webkit-transform 150ms linear;
    z-index: 9999;
  }

  .header-nav__items {
    display: block;
    text-align: left;
    margin-left: 10px;
  }

  .header-nav--open {
    visibility: visible;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    transition: -webkit-transform 150ms linear;
    transition: transform 150ms linear;
    transition: transform 150ms linear, -webkit-transform 150ms linear;
  }

}

@media only screen and (max-width: 769px) {

  .row {
    width: 95%;
  }

  .nav-row {
    width: 100%;
  }

  .header__text {
    display: block;
    text-align: center;
  }

  .header__buttonContainer {
    float: none;
    text-align: center;
  }

  .top_btn {
    width: 8em;
    height: 2.3em;
    padding-top: 0;
  }

  #header_logo {
    width: 9em;
  }

  .header-second__text {
    font-size: 2em;
  }
}

@media only screen and (max-width:660px) {
  .footer__container {
    display: block;
    text-align: center;
  }

  .affiliated__title {
    margin-bottom: 20px;
  }

  .pokhara__container {
    margin-left: 3.875em;
  }

  .socialmedia__container {
    margin-left: 0;
    margin-top: 10px;
  }

  .socialmedia__title {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width:553px) {
  .nav-row {
    width: 100%;
  }

  .header-second__text {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 850px) {
  .map {
    float: none;
    text-align: center;
  }

  .contact-us {
    margin: 3.125em auto;
    display: block;
    text-align: center;
  }

  footer {
    margin-top: 1.5em;
  }
}

@media only screen and (max-width: 900px) {
  .footer__container {
    display: block;
    text-align: center;
  }

  .footer__copyright-container {
    margin-top: 2em;
  }
}