* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 2.25em;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  width: 84%;
  margin: 0 auto;
}

nav {
  background-color: #3498db;
  width: 100%;
  height: 41px;
}

.clearfix {
  clear: both;
}

.clearfix::before {
  clear: both;
}

.clearfix::after {
  clear: both;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 28px;
  text-transform: capitalize;
}

/********** HEADER ***************/

.header__container {
    width: 100%;
    height: auto;
    background-color: #757575;
    padding-bottom: 10px;
}

.header__text {
    text-transform: uppercase;
    padding-top: 10px;
    color: white;
    display: inline-block;
}

.header__buttonContainer {
    float: right;
    font-size: 0.889em;
    text-transform: uppercase;
    font-weight: 600;
}

#header_logo {
    width: 12.5em;
}

.btn {
    width: 9em;
    height: 2.5em;
    text-align: center;
    padding-top: 0.1em;
    margin-top: 0.438em;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
}

.btn--blue {
    margin-top: 0.5em;
    background-color: #0288d1;
    color: white;
}

.btn--lightBlue {
    margin-right: 0.938em;
    margin-top: 0.5em;
    background-color: #b3e5fc;
    color: #212121;
}

.header-second__container {
    margin-top: 0.625em;
}

.header-second__text {
    color: #3498db;
    text-transform: capitalize;
    float: right;
    margin-top: 0.625em;
    /* margin-right: 5em; */
    font-family: Dancing Script;
    font-size: 2.353em;
}

.header-second__inlineText {
    font-family: Georgia;
}

.header-nav__link {
    text-decoration: none;
}

.header-nav__item {
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    padding-top: 3px;
}

.header-nav__items {
    display: inline-block;
    margin-left: 68px;
    margin-right: 0;
}

.menu {
    display: none;
}

/********** SECTION FOR DEPARTMENT ***************/

section h5 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 1.333em;
  font-weight: 500;
}

.department {
  display: flex;
  text-align: center;
  font-size: 0.888em;
  margin-top: 20px;
  margin-left: 75px;
  color: #212121;
  /* align-items: center; */
  /* justify-content: center; */
  margin-left: 12%;
}

.department__image {
  width: 140px;
  height: 110px;
  background-color: coral;
  margin: 20px auto 0 auto;
}

.department__position {
  text-align: center;
  margin-bottom: 10px;
}

.department__container,
.disable_shadow {
  width: auto;
  height: auto;
  flex-basis: 1fr;
  padding: 0px 20px;
}

.department__position-title,
.disable_shadow span {
  color: red;
}

.department__container:hover {
  box-shadow: 1px 1px 3px 3px rgb(0, 0, 0, 0.1);
}

.btn--small {
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 20px;
  height: 41px;
  width: 128px;
  padding-top: 3px;
}

.btn--view-profile {
  background-color: #3498db;
  color: white;
  display: inline-block;

}

.isDisabled {
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  background-color: #3498db;
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 20px;
  display: inline-block;
  height: 41px;
  width: 128px;
  padding-top: 3px;
}

/********** MODAL ***************/

.modal {
  width: auto;
  height: auto;
  position: relative;
  display: none;
  margin: 0 auto;
  text-align: center;
}

.modal__container {
  width: 916px;
  height: auto;
  position: absolute;
  background-color: white;
  z-index: 2;
  margin: 0 auto;
  padding-bottom: 30px;
  -webkit-transform: translate(200px, 100px);
          transform: translate(200px, 100px);
  border-radius: 5px;
  box-shadow: 1px 5px 5px 3px rgb(0, 0, 0, 0.1);
}

.goBack {
  width: 30px;
  position: absolute;
  left: 20px;
  top: 40px;
  cursor: pointer;
}

.model__profile-container {
  margin-top: 30px;
}

.model____user-pic {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.modal__user-container {
  text-align: center;
  margin-top: 10px;
}

.modal__name {
  font-weight: 600;
}

.modal__description {
  padding: 0 30px 0 30px;
  font-size: 0.889em;
}

.modal__text {
  color: red;
  font-weight: 600;
}

.modal__position {
  color: #212121;
  font-weight: 500;
}

.modal__social-icon {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  margin-top: 10px;
}

/********** FOOTER ***************/

footer {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.footer__overlay {
    background-color: rgba(52, 152, 219, 0.9);
    width: 100%;
    height: auto;
}

.footer__container {
    display: flex;
}

#Footerlogo {
    width: 140px;
    height: auto;
}

.contact__container {
    margin-left: 20px;
    font-family: montserrat;
    color: #212121;
    font-size: 0.889em;
    margin-top: 20px;
    flex: 2;
}

.contact__title,
.affiliated__title {
    font-family: montserrat;
    font-size: 1em;
    font-weight: 600;
}

.contact__text {
    font-weight: 500;
    text-transform: uppercase
}

.affiliated__container {
    margin-top: 20px;
}

.ctevt__container {
    display: inline-block;
    color: white;
    font-weight: 600;
}

.ctevt__caption {
    text-align: center;
}

.pokhara__container {
    display: inline-block;
    margin-left: 30px;
    color: white;
    font-weight: 600;
}

#puLogo {
    margin-left: 40px;
}

.copyright__container {
    flex: 2;
}

.copyright__text {
    flex: 2;
    font-size: 0.920em;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 400;
}

.socialmedia__container {
    flex: 1;
    margin-left: 18%;
}

.socialmedia__title {
    font-weight: 600;
    font-size: 1em;
}

.socialIcon {
    width: 30px;
    height: 30px;
}

.footer__text {
    text-align: center;
    font-size: 0.888em;
    margin-top: 20px
}

.footer__link {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/********** RP for 768px ***************/

@media only screen and (max-width: 768px) {
  .row {
    width: 748px;
  }

  /************** HEADER *******************/

  .second_part p {
    margin-top: 20px;
    margin-right: 0;
  }

  nav {
    width: auto;
    height: 41px;
    position: relative;
  }

  nav ul {
    display: none;
  }

  nav li {
    display: block;
    border-bottom: 1px solid white;
    font-weight: 550;
    margin: 0;
    background-color: #3498db;
  }

  a {
    color: white;
  }

  .menu {
    width: 40px;
    height: 34px;
    float: right;
    margin-right: 5px;
    position: absolute;
    top: 5px;
    right: 7px;
    display: block;
  }

  /****************** SECTION *****************/
  .container {
    margin-left: 0;
  }
  .forsection_overlay .row {
    width: 768px;
  }
  .for_shadow,
  .disable_shadow {
    padding: 0 4px;
  }
  .main_container {
    width: 628px;
    padding-bottom: 10px;
    -webkit-transform: translate(63px, 100px);
            transform: translate(63px, 100px);
  }
}

/********** RP for 425px ***************/

@media only screen and (max-width: 425px) {
  html {
    font-size: 1em;
  }

  .row {
    width: 400px;
  }

  /************** HEADER *******************/
  header p {
    margin-left: 10px;
    padding-top: 5px;
  }

  .forfillForm {
    display: block;
    text-align: center;
    line-height: 14px;
    text-decoration: underline;
    font-weight: 600;
    padding: 0;
  }

  .top_part {
    padding-bottom: 0;
  }

  .top_btn {
    display: none;
  }

  #one_logo {
    width: 140px;
  }

  .second_part p {
    margin-top: 4px;
    font-size: 1.5em;
  }

  #Lec_pic {
    width: 100%;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .for_circle {
    bottom: 23px;
    left: 126px;
  }

  .forIconbtn {
    width: 30px;
    height: 51px;
  }

  .btn {
    font-size: 0.725em;
  }

  #btnOne {
    bottom: 64px;
    left: 0;
  }

  .btn_one {
    top: 55px;
    left: 5px;
  }

  .btn_two {
    top: 53px;
    left: 382px;
  }

  #btnTwo {
    bottom: 64px;
    right: 0;
  }

  /************** SECTION ******************/
  .forsection_overlay .row {
    width: 420px;
  }
  .container {
    display: block;
  }
  .for_shadow p {
    text-align: center;
  }
  .main_container {
    width: 394px;
    -webkit-transform: translate(11px, 82px);
            transform: translate(11px, 82px);
  }
  .modal_description {
    font-size: 0.775em;
  }

  /************** FOOTER *******************/
  footer {
    margin-top: 20px;
  }
  footer h5 {
    text-align: center;
  }
  .footer_info {
    display: grid;
    text-align: center;
  }

  .DivforLogo {
    display: none;
  }

  .contact_Us {
    order: 2;
  }

  .Affiliated_By {
    order: 1;
    margin-left: 50px;
  }

  .ctevt,
  .pokharabg {
    margin-top: 20px;
  }

  .copyright_social {
    display: grid;
  }

  .copyright_social p {
    margin-top: 0;
  }

  .copy_right {
    order: 2;
  }

  .socialMedia_logo {
    order: 1;
    text-align: left;
    margin-left: 0;
    text-align: center;
  }

  .socialMedia_logo ul {
    margin-top: 10px;
    text-align: center;
  }

  .socialMedia_logo li {
    margin-right: 15px;
  }

  .socialMedia_logo img {
    height: 40px;
    width: 40px;
  }

  .copy_right p {
    text-align: center;
    margin-top: 15px;
  }
}

/********** RP for 375px ***************/

@media only screen and (max-width: 375px) {
  .row {
    width: 360px;
  }

  /************** HEADER *******************/
  header p {
    margin-left: 0px;
  }
  #one_logo {
    width: 130px;
  }
  .second_part p {
    font-size: 1.4em;
  }
  .btn_one {
    top: 40px;
    left: 4px;
  }
  .btn_two {
    top: 40px;
    left: 331px;
  }
  /************** SECTION *******************/
  .forsection_overlay .row {
    width: 375px;
  }
  .main_container {
    width: 369px;
    -webkit-transform: translate(3px, 100px);
            transform: translate(3px, 100px);
  }
  /************** FOOTER *******************/
  .Affiliated_By {
    margin-left: 0;
  }
  .copyright_social p {
    margin-left: 10px;
  }
}

/********** RP for 320px ***************/

@media only screen and (max-width: 320px) {
  html {
    font-size: 1em;
  }

  .row {
    width: 320px;
  }

  /************* HEADER ******************/
  header p {
    margin-left: 4px;
    text-transform: capitalize;
    padding-top: 0;
  }

  #one_logo {
    width: 150px;
  }
  .second_part p {
    display: none;
  }
  .forbox_shadow {
    padding: 0;
  }
  .center_bold {
    margin-bottom: 20px;
  }
  .forIconbtn {
    width: 26px;
    height: 38px;
  }
  .btn {
    font-size: 0.625em;
  }
  #btnOne {
    bottom: 58px;
    left: 0;
  }
  .btn_one {
    top: 42px;
    left: 4px;
  }
  #btnTwo {
    bottom: 58px;
  }
  .btn_two {
    top: 43px;
    left: 301px;
  }

  /************* SECTION ******************/
  .forsection_overlay .row {
    width: 320px;
  }
  .main_container {
    width: 313px;
  }
  .modelProfile_pic {
    width: 150px;
  }

  /************* FOOTER ******************/
  .Affiliated_By {
    margin-left: 0;
  }
  .pokharabg {
    display: block;
    margin-left: 0;
  }
  #puLogo {
    margin-left: 0;
  }
}