* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 2.25em;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  width: 84%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.clearfix::before {
  clear: both;
}

.clearfix::after {
  clear: both;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 28px;
  text-transform: capitalize;
}

/********** HEADER ***************/

header {
  width: 100%;
  height: auto;
  background-color: #757575;
  padding-bottom: 10px;
}

.header__text {
  text-transform: uppercase;
  padding-top: 10px;
  color: white;
  display: inline-block;
}

.header__buttonContainer {
  float: right;
  font-size: 0.889em;
  text-transform: uppercase;
  font-weight: 600;
}

#header_logo {
  width: 12.5em;
}

.btn {
  width: 9em;
  height: 2.5em;
  text-align: center;
  padding-top: 0.1em;
  margin-top: 0.438em;
  display: inline-block;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn--blue {
  margin-top: 0.5em;
  background-color: #0288d1;
  color: white;
}

.btn--lightBlue {
  margin-right: 0.938em;
  margin-top: 0.5em;
  background-color: #b3e5fc;
  color: #212121;
}

/********** MAIN ***************/

main {
    width: 100%;
    height: 470px;
    display: block;
}

main .row {
    position: relative;
    z-index: 3;
}

nav {
    float: right;
    padding-top: 40px;
    font-size: 0.889em;
}

.main__link:hover {
    color: #0288d1;
}

.main__forOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 470px;
    position: absolute;
    z-index: 1;
}

video {
    width: 100%;
    height: 470px;
    -o-object-fit: fill;
       object-fit: fill;
    position: absolute;
}

.main__title {
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 1.778em;
}

#logo {
    width: 12%;
    height: auto;
    -webkit-transform: translate(-17px, -22px);
            transform: translate(-17px, -22px);
}

/********** SECTION ***************/

section {
    margin-top: 30px;
}

.principle-updates__container {
    display: grid;
    grid-template-columns: 5fr 3fr
}

.principle__container {
    /* width: 65%; */
    height: 350px;
    background-color: red;
    border-radius: 2px;
}

.updates__container {
    /* width: 30%; */
    /* height: 350px; */
    background-color: #bdc3c7;
    margin-left: 1em;
    border-radius: 4px;
}

.updates__title {
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
}

.updates__list-items {
    font-size: 0.778em;
    line-height: 28px;
    width: 100%;
    margin: 10px 0 0 0;
    display: list-item;
}

.newsReading {
    height: 28px;
    width: 28px;
    margin-right: 6px;
    vertical-align: middle;
}

.doubleAngle {
    width: 16px;
    height: 27px;
    margin-left: 1.875em;
    margin-top: 1.25em;
    vertical-align: bottom;
    margin-right: 13px;
}

/********** SECTION : COURSE WE OFFER ***************/

.course {
    margin-top: 5em;
}

.course__title {
    color: #2980b9;
    font-size: 1.8em;
    font-family: Roboto;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.course__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
}

.course__container {
    width: 81%;
    height: auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px rgb(0, 0, 0, 0.3);
    background-color: white;
    margin-top: 3.12em;
    transition: left 2s linear;
}

.course__container::before {
    width: 46%;
    height: 13%;
    position: absolute;
    bottom: 100%;
    color: white;
    background-color: #3498db;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
    text-align: center;
}

.container__list {
    margin: 1.25em 0 1.25em 1.875px;
}

.container__list-item {
    display: block;
    font-weight: 600;
    margin-right: 0;
    margin-left: 1em;
}

.container__list-item::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #3498db;
    margin-right: 0.81em;
}

.container--diploma::before {
    content: "Diploma In :";
    left: 18%;
}

.container--bachelor::before {
    content: "Bachelor In :";
    left: 25%;
}

.container--master::before {
    content: "Master In :";
    left: 26%;
}

/* #right_arrow_smallScreen {
    display: none;
}

#left_arrow_smallScreen {
    display: none;
} */

/* #right_arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
}

#left_arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
} */

/********** SECTION : Co-Curricular activities ***************/

.co-curricular {
    margin-top: 60px;
}

.curricular__title {
    font-family: Roboto;
    font-size: 1.8em;
    font-weight: 600;
    color: #2980b9;
    text-align: center;
    text-transform: uppercase;
}

.cocurricular-Activities {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    margin-top: 2.5em;
}

.cocurricular-Activities__container {
    width: 27%;
    height: auto;
    border: 2px solid #3498db;
}

.cocurricular-Activities__imageContainer {
    overflow: hidden;
}

.cocurricular-Activities__image {
    width: 66%;
    /* height: auto; */
    margin-left: 2.93em;
    margin-top: 1.25em;
    transition: -webkit-transform 900ms linear;
    transition: transform 900ms linear;
    transition: transform 900ms linear, -webkit-transform 900ms linear;
}

.cocurricular-Activities__image:hover {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
}

.image--height {
    height: 148px;
}

.cocurricular-Activities__title {
    font-weight: 500;
    font-size: 1em;
    margin-left: 1.25em;
}

.cocurricular-Activities__text {
    font-size: 0.889em;
    margin-left: 1.25em;
}

.angle_left {
    padding-left: 0.18em;
}

.angle_right {
    margin-left: 2px;
    padding-right: 3px;
    padding-left: 5px;
}

/********** FOOTER ***************/

footer {
    width: 100%;
    height: auto;
    margin-top: 2.5em;
}

.footer__overlay {
    background-color: rgba(52, 152, 219, 0.9);
    width: 100%;
    height: auto;
}

.footer__container {
    display: flex;
}

#Footerlogo {
    width: 8.75em;
    height: auto;
}

.contact__container {
    margin-left: 1.25em;
    font-family: montserrat;
    color: #212121;
    font-size: 0.889em;
    margin-top: 1.25em;
    flex: 2;
}

.contact__title,
.affiliated__title {
    font-family: montserrat;
    font-size: 1em;
    font-weight: 600;
}

.contact__text {
    font-weight: 500;
    text-transform: uppercase
}

.affiliated__container {
    margin-top: 1.25em;
}

.ctevt__container {
    display: inline-block;
    color: white;
    font-weight: 600;
}

.ctevt__caption {
    text-align: center;
}

.pokhara__container {
    display: inline-block;
    margin-left: 1.875em;
    color: white;
    font-weight: 600;
}

#puLogo {
    margin-left: 2.5em;
}

.copyright__container {
    flex: 2;
}

.copyright__text {
    flex: 2;
    font-size: 0.920em;
    margin-top: 1.875em;
    margin-left: 1.25em;
    font-weight: 400;
}

.socialmedia__container {
    flex: 1;
    margin-left: 18%;
}

.socialmedia__title {
    font-weight: 600;
    font-size: 1em;
}

.socialIcon {
    width: 30px;
    height: 30px;
}

.footer__text {
    text-align: center;
    font-size: 0.888em;
    margin-top: 20px
}

.footer__link {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/********** Responsive ***************/

@media only screen and (max-width: 1130px) {
  .course__grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .course__container::before {
    padding-bottom: 5px;
  }

  .container--master::before {
    height: 29%;
  }
}

@media only screen and (max-width: 714px) {
  .course__grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .course__container::before {
    padding-bottom: 0;
  }

  .course__container {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
  }

  .container--diploma::before {
    left: 25%;
    height: 19%
  }

}

@media only screen and (max-width: 635px) {
  .principle-updates__container {
    display: block;
  }

  .updates__container {
    width: 60%;
    display: block;
    margin: 20px auto;
  }

  .course {
    margin-top: 25px;
  }
}

@media only screen and (max-width:580px) {
  .course__container::before {
    width: 55%;
  }

  .container--diploma::before {
    left: 23%;
  }

  .container--bachelor::before {
    width: 60%;
    left: 20%;
  }
}

@media only screen and (max-width: 1285px) {
  .header-nav__items {
    margin-left: 3.25em;
  }
}

@media only screen and (max-width: 1172px) {
  .header-nav__items {
    margin-left: 2.6em;
  }
}

@media only screen and (max-width: 1158px) {
  .header-nav__items {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 1029px) {
  .row {
    width: 90%;
  }

  .header-nav__items {
    margin-left: 1em;
    text-align: left;
  }
}

/* 
@media only screen and (max-width:909px) {
  .row {
    width: 90%;
    text-align: left;
  }

  .header-nav__items {
    margin-left: 1em;
  }
} */

@media only screen and (max-width:855px) {
  .header-nav__items {
    margin-left: .8em;
  }
}

@media only screen and (max-width:833px) {
  .header-nav__items {
    display: block;
    margin: 0;
    text-align: center;
  }

  .menu {
    display: block;
  }
}

@media only screen and (max-width: 769px) {
  .row {
    width: 95%;
  }

  .header__text {
    display: block;
    text-align: center;
  }

  .header__buttonContainer {
    float: none;
    text-align: center;
  }

  .top_btn {
    width: 8em;
    height: 2.3em;
    padding-top: 0;
  }

  #header_logo {
    width: 9em;
  }

  .header-second__text {
    font-size: 2em;
  }
}

@media only screen and (max-width:660px) {
  .footer__container {
    display: block;
    text-align: center;
  }

  .affiliated__title {
    margin-bottom: 20px;
  }

  .pokhara__container {
    margin-left: 3.875em;
  }

  .socialmedia__container {
    margin-left: 0;
    margin-top: 10px;
  }

  .socialmedia__title {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width:553px) {
  .header-second__text {
    font-size: 1.8em;
  }
}