* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 2.25em;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  width: 84%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.clearfix::before {
  clear: both;
}

.clearfix::after {
  clear: both;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 28px;
  text-transform: capitalize;
}

/********** HEADER ***************/

header {
  width: 100%;
  height: auto;
  background-color: #757575;
  padding-bottom: 10px;
}

.header__text {
  display: inline-block;
  text-transform: uppercase;
  padding-top: 10px;
  color: white;
}

.forfillForm {
  display: none;
  color: black;
}

.header__buttonContainer {
  float: right;
  font-size: 0.889em;
  text-transform: uppercase;
  font-weight: 600;
}

.btn {
  width: 144px;
  height: 40px;
  text-align: center;
  padding-top: 4px;
  margin-top: 7px;
  display: inline-block;
}

.btn--blue {
  background-color: #0288d1;
  color: white;
}

.btn--lightBlue {
  margin-right: 15px;
  background-color: #b3e5fc;
  color: #212121;
}

.menu {
  width: 40px;
  height: auto;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  display: none;
  cursor: pointer;
  outline: none;
}

/********** MAIN ***************/

main {
    width: 100%;
    height: 470px;
    display: block;
}

main .row {
    position: relative;
    z-index: 3;
}

nav {
    float: right;
    clear: both;
    padding-top: 40px;
    font-size: 0.889em;
}

.main__link:hover {
    color: #0288d1;
}

.main__forOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 470px;
    position: absolute;
    z-index: 1;
}

video {
    width: 100%;
    height: 470px;
    -o-object-fit: fill;
       object-fit: fill;
    position: absolute;
}

.main__title {
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 1.778em;
}

#logo {
    width: 140px;
    height: auto;
    -webkit-transform: translate(-17px, -22px);
            transform: translate(-17px, -22px);
}

/********** SECTION ***************/

section {
    margin-top: 30px;
}

.principleMessage {
    width: 65%;
    height: 350px;
    background-color: red;
    display: inline-block;
    border-radius: 2px;
}

.updates {
    width: 30%;
    height: 350px;
    background-color: #bdc3c7;
    float: right;
    margin-left: 50px;
    border-radius: 4px;
}

.updates__title {
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
}

.updates__list {
    font-size: 0.778em;
    line-height: 28px;
    width: 100%;
    margin: 10px 0 0 0;
    display: list-item;
}

.newsReading {
    height: 28px;
    width: 28px;
    margin-right: 6px;
    vertical-align: middle;
}

.doubleAngle {
    height: 27px;
    width: 16px;
    margin-left: 30px;
    margin-top: 20px;
    vertical-align: bottom;
    margin-right: 13px;
}

/********** SECTION : COURSE WE OFFER ***************/

.course {
    margin-top: 80px;
}

.course__title {
    color: #2980b9;
    font-size: 1.8em;
    font-family: Roboto;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.course__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
}

.course__container {
    width: 300px;
    height: auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px rgb(0, 0, 0, 0.3);
    background-color: white;
    margin-top: 50px;
    transition: left 2s linear;
}

.course__container::before {
    width: 138px;
    height: 30px;
    position: absolute;
    top: -30px;
    color: white;
    background-color: #3498db;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
    text-align: center;
}

.container__list {
    margin: 20px 0 20px 30px;
}

.container__list-item {
    display: block;
    font-weight: 600;
}

.container__list-item::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #3498db;
    margin-right: 13px;
}

.container--diploma::before {
    content: "Diploma In :";
    left: 52px;
}

.container--bachelor::before {
    content: "Bachelor In :";
    left: 74px;
}

.container--master::before {
    content: "Master In :";
    left: 74px;
}

/* #right_arrow_smallScreen {
    display: none;
}

#left_arrow_smallScreen {
    display: none;
} */

/* #right_arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
}

#left_arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
} */

/********** SECTION : Co-Curricular activities ***************/

.co-curricular {
    margin-top: 60px;
}

.curricular__title {
    font-family: Roboto;
    font-size: 1.8em;
    font-weight: 600;
    color: #2980b9;
    text-align: center;
    text-transform: uppercase;
}

.cocurricular-Activities {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    margin-top: 40px;
}

.cocurricular-Activities__container {
    flex-basis: 300px;
    height: auto;
    border: 2px solid #3498db;
}

.cocurricular-Activities__imageContainer {
    overflow: hidden;
}

.cocurricular-Activities__image {
    width: 200px;
    height: auto;
    margin-left: 47px;
    margin-top: 20px;
    transition: -webkit-transform 900ms linear;
    transition: transform 900ms linear;
    transition: transform 900ms linear, -webkit-transform 900ms linear;
}

.cocurricular-Activities__image:hover {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
}

.image--height {
    height: 148px;
}

.cocurricular-Activities__title {
    font-weight: 500;
    font-size: 1em;
    margin-left: 20px;
}

.cocurricular-Activities__text {
    font-size: 0.889em;
    margin-left: 20px;
}

.angle_left {
    padding-left: 3px;
}

.angle_right {
    margin-left: 2px;
    padding-right: 3px;
    padding-left: 5px;
}

/********** FOOTER ***************/

footer {
    width: 100%;
    height: auto;
    margin-top: 2.5em;
}

.footer__overlay {
    background-color: rgba(52, 152, 219, 0.9);
    width: 100%;
    height: auto;
}

.footer__container {
    display: flex;
}

#Footerlogo {
    width: 8.75em;
    height: auto;
}

.contact__container {
    margin-left: 1.25em;
    font-family: montserrat;
    color: #212121;
    font-size: 0.889em;
    margin-top: 1.25em;
    flex: 2;
}

.contact__title,
.affiliated__title {
    font-family: montserrat;
    font-size: 1em;
    font-weight: 600;
}

.contact__text {
    font-weight: 500;
    text-transform: uppercase
}

.affiliated__container {
    margin-top: 1.25em;
}

.ctevt__container {
    display: inline-block;
    color: white;
    font-weight: 600;
}

.ctevt__caption {
    text-align: center;
}

.pokhara__container {
    display: inline-block;
    margin-left: 1.875em;
    color: white;
    font-weight: 600;
}

#puLogo {
    margin-left: 2.5em;
}

.copyright__container {
    flex: 2;
}

.copyright__text {
    flex: 2;
    font-size: 0.920em;
    margin-top: 1.875em;
    margin-left: 1.25em;
    font-weight: 400;
}

.socialmedia__container {
    flex: 1;
    margin-left: 18%;
}

.socialmedia__title {
    font-weight: 600;
    font-size: 1em;
}

.socialIcon {
    width: 30px;
    height: 30px;
}

.footer__text {
    text-align: center;
    font-size: 0.888em;
    margin-top: 20px
}

.footer__link {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/********** RP for 960px ***************/

/* @import "./Responsive/RP(960).css"; */

/********** RP for 768px ***************/

/* @import "./Responsive/RP(768).css"; */

/********** RP for 684px ***************/

/* @import "./Responsive/RP(684).css"; */

/********** RP for 425px ***************/

/* @import "./Responsive/RP(425).css"; */

/********** RP for 375px ***************/

/* @import "./Responsive/RP(375).css"; */

/********** RP for 375px ***************/

@media only screen and (max-width: 320px) {
  html {
    font-size: 0.875em;
  }
  .row {
    width: 320px;
  }
  header p {
    font-size: 1em;
    text-transform: capitalize;
    margin-left: 20px;
  }
  #logo {
    width: 81px;
  }
  .menu {
    width: 30px;
  }
  #material {
    width: 84%;
    top: 307px;
    left: 30px;
  }
  figure p {
    left: 120px;
    top: 360px;
  }
  #right_arrow {
    left: 279px;
  }
  .forDiploma {
    top: 458px;
    left: 40px;
  }
  .forCoCurricularLogo {
    -webkit-transform: translate(2%, 8%);
            transform: translate(2%, 8%);
  }
  .forCoCurricularLogo p {
    -webkit-transform: translate(29%, 111%);
            transform: translate(29%, 111%);
  }
  .first_activity {
    margin-left: 0;
    margin-right: 0;
  }
  .copy_right p {
    margin-left: 0;
  }
}