* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 2.25em;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  width: 84%;
  margin: 0 auto;
}

nav {
  background-color: #3498db;
  width: 100%;
  height: 41px;
}

.clearfix {
  clear: both;
}

.clearfix::before {
  clear: both;
}

.clearfix::after {
  clear: both;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 28px;
  text-transform: capitalize;
}

/********** HEADER ***************/

.header__container {
    width: 100%;
    height: auto;
    background-color: #757575;
    padding-bottom: 10px;
}

.header__text {
    text-transform: uppercase;
    padding-top: 10px;
    color: white;
    display: inline-block;
}

.header__buttonContainer {
    float: right;
    font-size: 0.889em;
    text-transform: uppercase;
    font-weight: 600;
}

#header_logo {
    width: 12.5em;
}

.btn {
    width: 9em;
    height: 2.5em;
    text-align: center;
    padding-top: 0.1em;
    margin-top: 0.438em;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn--blue {
    margin-top: 0.5em;
    background-color: #0288d1;
    color: white;
}

.btn--lightBlue {
    margin-right: 0.938em;
    margin-top: 0.5em;
    background-color: #b3e5fc;
    color: #212121;
}

.header-second__container {
    margin-top: 0.625em;
}

.header-second__text {
    color: #3498db;
    text-transform: capitalize;
    float: right;
    margin-top: 0.625em;
    font-family: Dancing Script;
    font-size: 2.353em;
}

.header-second__inlineText {
    font-family: Georgia;
}

.header-nav__link {
    text-decoration: none;
}

.header-nav__item {
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    padding-top: 3px;
}

.header-nav__items {
    display: inline-block;
    margin-left: 4.25em;
    margin-right: 0;
}

.menu {
    width: 40px;
    height: auto;
    float: right;
    display: none;
    cursor: pointer;
    outline: none;
}

/********** SECTION ***************/

.toggle {
  width: 60%;
  -webkit-transform: translate(53%, 72%);
          transform: translate(53%, 72%);
}

.toggle__container {
  width: 21%;
  height: 90%;
  background-color: #ecf0f1;
  position: absolute;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.toggle__container:hover {
  background-color: #2ecc71;
}

.toggle--active {
  background-color: #00b894;
  color: white;
  font-weight: 550;
  transition: background-color 150ms linear;
}

.toggle--active:hover {
  background-color: #00b894;
}

#diploma {
  border-radius: 15px 0px 0px 15px;
}

#bachelor {
  left: 21%;
}

#master {
  left: 42%;
  border-radius: 0px 15px 15px 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
  left: 65%;
}

#tooltip__icon {
  width: 15px;
  height: 15px;
}

.tooltip__text {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.885em;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 110%;
  opacity: 0.7;
  margin-left: 10px;
}

.tooltip__text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
}

.feature {
  margin-top: 30px;
}

.feature__container {
  margin-left: 3.125em;
  display: block;
}

.feature__icon {
  width: 4.375em;
  height: 4.375em;
  vertical-align: super;
  margin-right: 1.875em;
}

.feature__title {
  font-weight: 550;
  text-transform: uppercase;
}

.feature__text {
  width: 83%;
  display: inline-block;
  margin-top: 50px;
}

.btn--large {
  font-size: 1em;
  margin-left: 6.5625em;
  margin-top: 1.56;
  background-color: #3498db;
  border-radius: 3px;
  font-family: montserrat;
  letter-spacing: 0.5px;
  color: white;
}

/********** FOOTER ***************/

footer {
    width: 100%;
    height: auto;
    margin-top: 2.5em;
}

.footer__overlay {
    background-color: rgba(52, 152, 219, 0.9);
    width: 100%;
    height: auto;
}

.footer__container {
    display: flex;
}

#Footerlogo {
    width: 8.75em;
    height: auto;
}

.contact__container {
    margin-left: 1.25em;
    font-family: montserrat;
    color: #212121;
    font-size: 0.889em;
    margin-top: 1.25em;
    flex: 2;
}

.contact__title,
.affiliated__title {
    font-family: montserrat;
    font-size: 1em;
    font-weight: 600;
}

.contact__text {
    font-weight: 500;
    text-transform: uppercase
}

.affiliated__container {
    margin-top: 1.25em;
}

.ctevt__container {
    display: inline-block;
    color: white;
    font-weight: 600;
}

.ctevt__caption {
    text-align: center;
}

.pokhara__container {
    display: inline-block;
    margin-left: 1.875em;
    color: white;
    font-weight: 600;
}

#puLogo {
    margin-left: 2.5em;
}

.copyright__container {
    flex: 2;
}

.copyright__text {
    flex: 2;
    font-size: 0.920em;
    margin-top: 1.875em;
    margin-left: 1.25em;
    font-weight: 400;
}

.socialmedia__container {
    flex: 1;
    margin-left: 18%;
}

.socialmedia__title {
    font-weight: 600;
    font-size: 1em;
}

.socialIcon {
    width: 30px;
    height: 30px;
}

.footer__text {
    text-align: center;
    font-size: 0.888em;
    margin-top: 20px
}

.footer__link {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/********** Responsive ***************/

@media only screen and (max-width: 1285px) {
  .header-nav__items {
    margin-left: 3.25em;
  }
}

@media only screen and (max-width: 1172px) {
  .header-nav__items {
    margin-left: 2.6em;
  }
}

@media only screen and (max-width: 1158px) {
  .header-nav__items {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 1029px) {
  .row {
    width: 90%;
  }

  .header-nav__items {
    margin-left: 1em;
    text-align: left;
  }
}

/* 
@media only screen and (max-width:909px) {
  .row {
    width: 90%;
    text-align: left;
  }

  .header-nav__items {
    margin-left: 1em;
  }
} */

@media only screen and (max-width:855px) {
  .header-nav__items {
    margin-left: .8em;
  }
}

@media only screen and (max-width:833px) {
  .header-nav__items {
    display: block;
    margin: 0;
    text-align: center;
  }

  .menu {
    display: block;
  }
}

@media only screen and (max-width: 769px) {
  .row {
    width: 95%;
  }

  .header__text {
    display: block;
    text-align: center;
  }

  .header__buttonContainer {
    float: none;
    text-align: center;
  }

  .top_btn {
    width: 8em;
    height: 2.3em;
    padding-top: 0;
  }

  #header_logo {
    width: 9em;
  }

  .header-second__text {
    font-size: 2em;
  }
}

@media only screen and (max-width:660px) {
  .footer__container {
    display: block;
    text-align: center;
  }

  .affiliated__title {
    margin-bottom: 20px;
  }

  .pokhara__container {
    margin-left: 3.875em;
  }

  .socialmedia__container {
    margin-left: 0;
    margin-top: 10px;
  }

  .socialmedia__title {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width:553px) {
  .header-second__text {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 834px) {
  .toggle {
    width: 75%;
    -webkit-transform: translate(34%, 72%);
            transform: translate(34%, 72%);
  }
}

@media only screen and (max-width:717px) {
  .feature__container {
    margin-top: 50px;
  }

  .feature__icon {
    display: block;
    margin-left: 33%;
  }

  .feature__text {
    margin-top: 20px;
    text-align: center;
  }
}

@media only screen and (max-width:640px) {
  .toggle {
    width: 84%;
  }
}

@media only screen and (max-width:543px) {
  .toggle {
    width: 97%;
    -webkit-transform: translate(21%, 72%);
            transform: translate(21%, 72%);
  }
}

@media only screen and (max-width:500px) {
  .toggle {
    width: 100%;
  }
}