@media only screen and (max-width: 1280px) {
  .icon--right-container {
    right: 2.3em
  }

  .icon--left-container {
    left: 2.32em;
  }
}

@media only screen and (max-width:1200px) {
  .icon--right-container {
    right: 2.2em
  }

  .icon--left-container {
    left: 2.2em;
  }
}

@media only screen and (max-width:1132px) {

  .fa-arrow-left,
  .fa-arrow-right {
    font-size: 1.5em;
    margin-top: 0.9em;
    margin-left: 0.4em;
  }

  .icon--right-container {
    right: 2.04em;
    bottom: 8em;
  }

  .icon--left-container {
    left: 2.04em;
    bottom: 8em;
  }
}

@media only screen and (max-width:1043px) {

  .fa-arrow-left,
  .fa-arrow-right {
    margin-top: 0.8em;
    margin-left: 0.3em;
  }

  .icon--right-container {
    right: 1.9em;
    bottom: 7.6em;
  }

  .icon--left-container {
    left: 1.9em;
    bottom: 7.6em;
  }
}

@media only screen and (max-width:960px) {

  .fa-arrow-left,
  .fa-arrow-right {
    margin-top: 1em;
  }

  .icon__container {
    width: 5%;
    height: 28%;
  }

  .icon--right-container {
    right: 1.75em;
    bottom: 7.3em;
  }

  .icon--left-container {
    left: 1.75em;
    bottom: 7.3em;
  }
}

@media only screen and (max-width:845px) {
  .section__toggle-container {
    left: 40%;
  }

  .dot {
    width: 12px;
    height: 12px;
  }

  .fa-arrow-left,
  .fa-arrow-right {
    margin-top: 1em;
  }

  .icon--right-container {
    right: 1.56em;
    bottom: 6.3em;
  }

  .icon--left-container {
    left: 1.56em;
    bottom: 6.3em;
  }
}

@media only screen and (max-width:788px) {

  .section__toggle-container {
    bottom: 14%;
  }

  .fa-arrow-left,
  .fa-arrow-right {
    font-size: 1.3em;
    margin-top: 1.1em;
  }

  .icon--right-container {
    right: 1.42em;
    bottom: 6em;
  }

  .icon--left-container {
    left: 1.42em;
    bottom: 6em;
  }
}

@media only screen and (max-width:664px) {
  .section__toggle-container {
    left: 38%;
    bottom: 16%;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .icon__container {
    width: 7%;
    height: 32%;
  }

  .icon--right-container {
    right: 1.19em;
    bottom: 4.9em;
  }

  .icon--left-container {
    left: 1.19em;
    bottom: 4.9em;
  }
}

@media only screen and (max-width:588px) {
  .icon--right-container {
    right: 1em;
    bottom: 4.5em;
  }

  .icon--left-container {
    left: 1em;
    bottom: 4.5em;
  }
}

@media only screen and (max-width:500px) {

  .fa-arrow-left,
  .fa-arrow-right {
    font-size: 1.2em;
    margin-top: 0.8em;
  }

  .icon--right-container {
    right: 0.9em;
    bottom: 3.9em;
  }

  .icon--left-container {
    left: 0.9em;
    bottom: 3.9em;
  }
}