@media only screen and (max-width: 425px) {
  html {
    font-size: 1em;
  }

  .row {
    width: 400px;
  }

  /************** HEADER *******************/
  header p {
    margin-left: 10px;
    padding-top: 5px;
  }

  .forfillForm {
    display: block;
    text-align: center;
    line-height: 14px;
    text-decoration: underline;
    font-weight: 600;
  }

  .top_part {
    padding-bottom: 0;
  }

  #one_logo {
    width: 140px;
  }

  .second_part p {
    margin-top: 4px;
    font-size: 1.5em;
  }

  #Lec_pic {
    width: 100%;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .for_circle {
    bottom: 23px;
    left: 126px;
  }

  .forIconbtn {
    width: 30px;
    height: 51px;
  }

  .btn {
    display: none;
    font-size: 0.725em;
  }

  #btnOne {
    bottom: 64px;
    left: 0;
  }

  .btn_one {
    top: 55px;
    left: 5px;
  }

  .btn_two {
    top: 53px;
    left: 382px;
  }

  #btnTwo {
    bottom: 64px;
    right: 0;
  }
  .contact_us {
    margin-top: 20px;
    display: block;
    text-align: center;
  }
  .map {
    float: none;
  }
  .footer_info {
    display: block;
  }
  footer {
    margin-top: 30px;
  }
  .copyright_social {
    display: none;
  }
  .copyright_social_responsive {
    font-size: 0.778em;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 500;
  }
}
