@media only screen and (max-width: 1285px) {
  .header-nav__items {
    margin-left: 3.25em;
  }
}

@media only screen and (max-width: 1172px) {
  .header-nav__items {
    margin-left: 2.6em;
  }
}

@media only screen and (max-width: 1158px) {
  .header-nav__items {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 1029px) {
  .row {
    width: 90%;
  }

  .header-nav__items {
    margin-left: 1em;
    text-align: left;
  }
}

@media only screen and (max-width:855px) {
  .header-nav__items {
    margin-left: .8em;
  }
}

@media only screen and (max-width:833px) {
  .nav-row {
    width: 100%;
  }

  .forMenu {
    display: block;
    width: 40px;
    height: 41px;
    background: url(../assets/Images/menu.png) no-repeat 60% center;
    cursor: pointer;
  }

  .header-nav__item {
    background: #3498db;
    height: 100%;
    position: absolute;
    transform: translate(-287px, 0px);
    transition: transform 150ms linear;
    z-index: 9999;
  }

  .header-nav__items {
    display: block;
    text-align: left;
    margin-left: 10px;
  }

  .header-nav--open {
    visibility: visible;
    transform: translate(0, 0);
    transition: transform 150ms linear;
  }

}

@media only screen and (max-width: 769px) {

  .row {
    width: 95%;
  }

  .nav-row {
    width: 100%;
  }

  .header__text {
    display: block;
    text-align: center;
  }

  .header__buttonContainer {
    float: none;
    text-align: center;
  }

  .top_btn {
    width: 8em;
    height: 2.3em;
    padding-top: 0;
  }

  #header_logo {
    width: 9em;
  }

  .header-second__text {
    font-size: 2em;
  }
}

@media only screen and (max-width:660px) {
  .footer__container {
    display: block;
    text-align: center;
  }

  .affiliated__title {
    margin-bottom: 20px;
  }

  .pokhara__container {
    margin-left: 3.875em;
  }

  .socialmedia__container {
    margin-left: 0;
    margin-top: 10px;
  }

  .socialmedia__title {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width:553px) {
  .nav-row {
    width: 100%;
  }

  .header-second__text {
    font-size: 1.8em;
  }
}