.header__container {
  width: 100%;
  height: auto;
  background-color: #757575;
  padding-bottom: 10px;
}

.header__text {
  text-transform: uppercase;
  padding-top: 10px;
  color: white;
  display: inline-block;
}

.header__buttonContainer {
  float: right;
  font-size: 0.889em;
  text-transform: uppercase;
  font-weight: 600;
}

#header_logo {
  width: 12.5em;
}

.btn {
  width: 9em;
  height: 2.5em;
  text-align: center;
  padding-top: 0.1em;
  margin-top: 0.438em;
  display: inline-block;
  text-decoration: none;
}

.btn--blue {
  margin-top: 0.5em;
  background-color: #0288d1;
  color: white;
}

.btn--lightBlue {
  margin-right: 0.938em;
  margin-top: 0.5em;
  background-color: #b3e5fc;
  color: #212121;
}

.header-second__container {
  margin-top: 0.625em;
}

.header-second__text {
  color: #3498db;
  text-transform: capitalize;
  float: right;
  margin-top: 0.625em;
  margin-right: 5em;
  font-family: Dancing Script;
  font-size: 2.353em;
}

.header-second__inlineText {
  font-family: Georgia;
}

.header-nav__link {
  text-decoration: none;
}

.header-nav__item {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding-top: 3px;
}

.header-nav__items {
  display: inline-block;
  margin-left: 68px;
}

.menu {
  display: none;
}