.department {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 1em;
  text-align: center;
  font-size: 0.888em;
  color: #212121;
}

.department__row {
  width: 90%;
  margin: 0 auto;
}

.department__title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.875em;
  font-size: 1.333em;
  font-weight: 500;
}

.department__container {
  /* .disable_shadow { */
  width: auto;
  height: auto;
  margin: 1.375em;
}

.department__image {
  width: 8.75em;
  height: 6.87em;
  background-color: coral;
  margin: 1.25em auto 0 auto;
}

.department__position {
  text-align: center;
  margin-bottom: 0.625em;
}


.department__position-title {
  /* .disable_shadow span { */
  color: red;
}

.department__container:hover {
  box-shadow: 1px 1px 3px 3px rgb(0, 0, 0, 0.1);
}

.btn--small {
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 1.25em;
  width: 8em;
  height: 2.56em;
  padding-top: 0.18;
}

.btn--view-profile {
  background-color: #3498db;
  color: white;
  display: inline-block;

}

.isDisabled {
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  background-color: #3498db;
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 1.25em;
  display: inline-block;
  width: 8em;
  height: 2.56em;
  padding-top: 0.18;
}